* {
  color: 		#707070;
}
body {
    text-align: center;
    font-family: "Manrope", sans-serif;
    background-color: #ebedeb65 !important;
}

h1, h2, h3, h4, h5, h6, p, a, .btn {
  font-family: "Manrope", sans-serif;
}


p{
  font-size: 18px;
}
h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: 500;
}
/* Navigation bar */
a:link {
  color: #707070;
  text-decoration: none;
}

a:visited {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

a:active {
  color: grey;
  text-decoration: none;
}


.topnav {
  background-color: transparent;
  padding-top: 1.7%;
  z-index: 1000;
}

.topnav a {
  float: left;
  display: block;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav .nav-icon {
  display: none;
}

.dropdown {
  float: left;
  position: relative;
  
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #707070;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Manrope", sans-serif;;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: #707070;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #faf9f9a9;
  color: #707070;
}

.dropdown-content a:hover {
  background-color: #dddddd69;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.nav-icon {
    float: right;
    display: block;
    position: absolute;
    right: 1px;
    top: 20px;
    font-size:20px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

  .logo {
    width: 146px;   
    height: 123px; 
  }

  .heading  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5% 1% 0;
  }

  .carousel-container {
    z-index: 0;
    color: white  !important;
    background-color: white !important;
  }


.carousel-container p {
    color: white  !important;
  }
  
  .carousel-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 90vh !important;  */
}

.resp-image {
  background-position: 0 15%;
}

.carousel-item {
  height: 90vh;
}


  /* Services */

  .bg-img-1 {
    background-image: url('ApousiaPhotos/1-kids.png')
  }

.bg-img-2 {
    background-image: url('ApousiaPhotos/2-nature.JPG');
}

.bg-img-3 {
    background-image: url('ApousiaPhotos/3-books.jpg');
}

.bg-img-4 {
    background-image: url('ApousiaPhotos/4-playground.jpg');
}

.bg-img-5 {
    background-image: url('ApousiaPhotos/5-routes.jpg');
}


.nature {
    background-color:#c0d332;
}

.fairytale {
    background-color:  rgb(17, 173, 235);
}

.trainer {
    background-color: rgb(209, 17, 226);
}

.experience {
    background-color: #ffcc00;
}

.party {
    background-color: blueviolet;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 7%;
}

.container-service {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-service{
    width: 200px;
    height: 200px;
    margin-bottom: 2%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .container-nature:hover > .nature {

} */

.image-service {
    width: 100px;
    height: 100px;
    color: aliceblue;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.top {
    position: relative;
    padding-top:0 !important;
    margin-top:0;
}

.bottom {
    position: relative;
    padding-top:7%;
}

.div-services {
  margin-bottom: 3%;
}

/*Balloons*/

.balloons {
  background:  url("ApousiaPhotos/less\ balloons.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 200px 0;
  text-align: center; position: relative;

}

.btn-draseis1 {
  background-color: #d6cabcc0  !important;
  border-color:  #d6cabc ! important;
  color:white !important;
  padding: 10px !important;
  font-family:  "Manrope", sans-serif !important ;
  font-size: 18px !important;
}

.btn-draseis2 {
  background-color: #b22dd3b9!important;
  border-color: #b22dd3b9! important;
  color:white !important;
  padding: 10px !important;
  font-family:  "Manrope", sans-serif !important ;
  font-size: 18px !important;
}

/* Current Events */

.current {
  padding: 0 5%;
  margin-bottom: 2%;
}

.card-title-section {
  padding: 10px 5px;
  background-color: #e7eef8;

  display: flex;
}

.image-service-card{
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  align-self: center;
}

.section-service-card {
  width: 48px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem; margin-left: 25%;
}



.card-date {
  margin-left: 1%;
  margin-top: 2%;
  position: absolute; 
  top: 5%; 
  left: 10%; 
  transform: translate(-50%, -50%);
  background-color:  #e7eef8c5;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.card-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  padding: 1%;
  margin: 0;
}

.card-details{
  text-align: left;
  margin-top: 1%;
  padding-left: 2px;
}

.btn-details {
  margin: 4%;
}

/* Bees */

.synergates-bees {
    background:
  url("ApousiaPhotos/codioful-formerly-gradienta-el5ZXkPvd0o-unsplash.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #e48faa9c; */
  position: relative;
  width: 100%;
  padding: 0 100px; /* add some padding to the left and right */
  box-sizing: border-box; /* include padding in the width calculation */
  --h2-width: 0;
  --div-width: 100%;
}



.synergates-bees img {
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.synergates-bees.animate-bees img:first-child {
  --bee1-end-pos: calc((var(--div-width) - var(--h2-width)) * 0.5 - 235px);
  left: 0;
  animation-name: move-from-left;
}

.synergates-bees.animate-bees img:last-child {
  --bee2-end-pos: calc(-1 * ((var(--div-width) - var(--h2-width)) * 0.5 - 214px));
  right: 0;
  animation-name: move-from-right;
}

@keyframes move-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(var(--bee1-end-pos));
  }
}

@keyframes move-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(var(--bee2-end-pos));
  }
}

/* Synergates */

.container {
  padding-top: 10px;
  margin-top: 50px;
}

.synergates {
  padding: 3% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.synergates img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Contact */

.contact {
  background:  url("ApousiaPhotos/nechama-lock-u0rHsWGUmPc-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position-y: 10%;
  height: 45vh;
}

.contact-container {
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  padding: 3% 0;
}




.contact-details {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 40px
}  
  .icon-tel{
    font-size: 34px;
  }


/* Footer */

footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(200, 202, 113, 0.918);
  color: white;
  width: 100%;
}

/* Events Page */




/* .literature h1 {
  background: url('ApousiaPhotos/backround-pink.png');
    position:relative;
    display: inline-block;
    margin:0 25px;
    padding:0 10px;
    height:50px;
    width: auto;
} */


.current-events {
  margin-bottom: 7%;
}

@media screen and (min-width: 1360px) and (max-width: 1600px) {
 .video {
  padding: 0 5%;
 }
} 

/* Responsive */
@media screen and (min-width: 600px) and (max-width: 1600px) {
  body {
    zoom: 70% !important;
  }

  /* .beeNo1, .beeNo2 {
    display:none
  } */

  .synergates-bees.animate-bees img:first-child {
    --bee1-end-pos: calc((var(--div-width*0.7) - var(--h2-width)) * 0.5 - 115px);
    left: 0;
    animation-name: move-from-left;
  }
  
  .synergates-bees.animate-bees img:last-child {
    --bee2-end-pos: calc(-1 * ((var(--div-width*0.7) - var(--h2-width)) * 0.5 - 110px));
    right: 0;
    animation-name: move-from-right;
  }

  /* @keyframes move-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(var(--bee2-end-pos));
    }
  } */

  .contact {
    background:  url("ApousiaPhotos/nechama-lock-u0rHsWGUmPc-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
  }

  .carousel-item {
    height: 110vh;
  }
}



@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.nav-icon {
      float: right;
      display: block;
    }

    .carousel-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .carousel-item {
    height: 25.5vh;
  }

    .resp-image {
      background-position: 0 20%;
    }
  

    .logo {
      width: 120px;   
      height: 101px; 
    }

    .heading  {
      display: flex;
      flex-direction: row;
      padding: 0.5% 1% 0;
    }

    .services {
      display: flex;
      flex-direction: column;
    }

    .section-service{
      width: 100px;
      height: 100px;
      margin-bottom: 2%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .balloons {
    
    padding: 100px 0;
    
  
  }

  .container-service {
    font-size: 14px;
  }
  
  .image-service {
      width: 50px;
      height: 50px;
      color: aliceblue;
      display: block;
      margin: 0 auto;
      align-self: center;
  }

    .current {
      margin: 0 auto;
      text-align: center;
      padding: 2% 0;
    }

    .card {
      margin: 0 auto;
      text-align: center;
    }

    .current-events {
      margin-bottom: 5%;
    }

    .bottom {
      position: relative;
      padding-top:0;
  }

.synergates {
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: center;
}

.synergates > div {
  flex-basis: 50%;
}

.synergates-img {
  width: 100px;
  height: 100px;
}

.contact {
  background:  url("ApousiaPhotos/nechama-lock-u0rHsWGUmPc-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 90%;
  position: relative;
  height: 40vh;
}

.container {
  padding-top: 0 !important;
  padding-bottom: 2%;
}

.beeNo1 {
  width: 120px;
  height: 103px;
}

.beeNo2 {
  width: 110px;
  height: 115px;
}

.synergates-bees img {
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}

.beeNo1, .beeNo2 {
  position: relative;
} 

.beeNo1 {
  left: -2% !important;
}

.beeNo2 {
  right: 2% !important; 
}

.synergates-bees.animate-bees img:first-child, .synergates-bees.animate-bees img:last-child {
  animation-name:none;
}

/* .synergates-bees.animate-bees img:first-child {
  --bee1-end-pos: calc((var(--div-width) - var(--h2-width)) * 0.5 - 115px);
  left: 0;
  animation-name: move-from-left;
}

.synergates-bees.animate-bees img:last-child {
  --bee2-end-pos: calc(-1 * ((var(--div-width) - var(--h2-width)) * 0.5 - 110px));
  right: 0;
  animation-name: move-from-right;
} */

.synergates-bees {
  padding: 15px 0;
}

.icon {
  font-size: 30px;
}

.icon-tel {
  font-size: 25px;
}

.contact-container {
  bottom: 7%;
}


.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 20px !important;
}

.contact-container h2 {
  font-size: 18px !important;
}

h6 {
  font-size: 15px;
}

@keyframes move-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(var(--bee1-end-pos));
  }
}

@keyframes move-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(var(--bee2-end-pos));
  }
}


  }
  
 